---
import Layout from "../../layouts/Layout.astro";
import { getById } from "../../utils/getData";
import type { Project } from "../../utils/types";

export function getStaticPaths() {
  return [
    { params: { id: "1" } },
    { params: { id: "2" } },
    { params: { id: "3" } },
  ];
}

const { id } = Astro.params;

const experience: Project = getById(Number(id));

const { title, description, image } = experience;
---

<Layout title={`${title} | Federico Krenn`}>
  <main>
    <h1>{title}</h1>
    <p>{description}</p>
    <img src={`/images/${image}`} alt={title} />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
</style>
